#location-button {
    color: red;
}

.google-maps-container {
    min-height: 350px;
}

.form-group label {
    text-align: right;
}

.graphic-element {
    
}

/* For Debugging */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */